<p id="notice"><%= notice %></p>

<header class=linkBoardTitle> Title here <%#= board.title %></header>
<p class=boardDescription> Description here <%#= board.description %></p>

<div class="linkContainer">
  <% @links.each do |link| %>
    <div class="linkItem">
       <%#= link.id %>
       <%#= link.board_id %>
       <div class=linkImage <%= link.image %> >
          <% if link.image.try(:url) %>
            <%= image_tag link.image.url, width: "360px", height: "190px" %>
          <% end %>
       </div>
       <p class=linkTitle><%= link_to link.title, link %></p>
       <p><%= link.url %></p>

      <div class="linkActions">
         <p><%= link_to 'Редатировать', edit_link_path(link) %></p>
         <p><%= link_to 'Удалить', link, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>
</div>
