<p id="notice"><%= notice %></p>

<h1>Links</h1>

<div class="linkItem">
  <% @links.each do |link| %>
    <div class="container">
       <%#= link.id %>
       <%#= link.board_id %>
       <img class=linkImage <%= link.image %> >
       <p class=linkTitle><%= link.title %></p>
       <p><%= link.url %></p>

      <div class="linkActions">
         <p><%= link_to 'Show', link %></p>
         <p><%= link_to 'Edit', edit_link_path(link) %></p>
         <p><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Link', new_link_path %>
