<p id="notice"><%= notice %></p>

<div class="boardContainer">
  <% @boards.each do |board| %>
    <div class="boardItem">
        <%#= board.id %>
        <%#= board.user_id %>
        <p id="boardTitle">
          <%=link_to board.title, board_links_path(board) %>
        </p>
        <p><%= board.description %></p>
        <p><%= board.links_number %></p>
        <p><%= board.share_link %></p>
        <p><%= board.share_url %></p>

      <div class="boardActions"
        <p id="actionItem"><%= link_to 'Редактировать', edit_board_path(board) %></p>
        <p id="actionItem"><%= link_to 'Удалить', board, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
<% end %>
</div>
